In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("own_examples/penny_lane/penny_lane_chord_estimate.csv")
df

          TIME LABEL
0     0.000000     N
1     0.092880     B
2     3.343673   F#7
3     5.387029     B
4     7.616145    Bm
..         ...   ...
63  166.254875     E
64  170.248707     B
65  174.985578    Bm
66  178.607891   C#7
67  183.716281     N

[68 rows x 2 columns]

In [10]:
df_transformed = pd.DataFrame(
    {"start_time": df["TIME"], "end_time": df["TIME"].shift(-1), "label": df["LABEL"]}
)

epsilon = 1e-3
df_transformed["end_time"] = df_transformed["end_time"].fillna(
    df_transformed["start_time"] + epsilon
)
df_transformed

    start_time    end_time label
0     0.000000    0.092880     N
1     0.092880    3.343673     B
2     3.343673    5.387029   F#7
3     5.387029    7.616145     B
4     7.616145    9.566621    Bm
..         ...         ...   ...
63  166.254875  170.248707     E
64  170.248707  174.985578     B
65  174.985578  178.607891    Bm
66  178.607891  183.716281   C#7
67  183.716281  183.717281     N

[68 rows x 3 columns]

In [11]:
# print all label values
df_transformed["label"].unique()

array(['N', 'B', 'F#7', 'Bm', 'Abm7b5', 'Gmaj7', 'F#', 'E', 'A', 'D',
       'Bmaj7', 'E6', 'C#7', 'F#maj7'], dtype=object)

In [12]:
# rename labels with dict
df_transformed["label"] = df_transformed["label"].replace(
    {
        "F#7": "F#",
        "Abm7b5": "Abm",
        "Gmaj7": "G",
        "Bmaj7": "B",
        "E6": "E",
        "C#7": "C#",
        "F#maj7": "F#",
    }
)

df_transformed["label"].unique()

array(['N', 'B', 'F#', 'Bm', 'Abm', 'G', 'E', 'A', 'D', 'C#'],
      dtype=object)

In [13]:
def rename_chord(chord_label):
    if chord_label in ["N", "X"]:
        return chord_label

    if chord_label.endswith("m"):
        return f"{chord_label[:-1]}:min"

    return f"{chord_label}:maj"


df_transformed["label"] = df_transformed["label"].apply(rename_chord)
df_transformed["label"].unique()

array(['N', 'B:maj', 'F#:maj', 'B:min', 'Ab:min', 'G:maj', 'E:maj',
       'A:maj', 'D:maj', 'C#:maj'], dtype=object)

In [14]:
df_transformed.to_csv(
    "own_examples/penny_lane/penny_lane_chord_estimate_transformed.csv",
    index=False,
    header=False,
    sep="\t",
)